.btn {
  font-weight: 600;
  border: 2px solid transparent;
  padding: 11px 17px;
  font-size: 13px;
  line-height: 13px;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  color: #333;
  box-shadow: none;
  &:hover;&:focus;&:active;&.active {
    color: #ea623d;
    border-color: #ea623d;
    text-decoration: none;
    outline: none;
  }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-sm {
  font-weight: 400;
  padding: 6px 11px;
  font-size: 11px;
  line-height: 12px;
  border-radius: 3px;
}
.btn-lg {
  border-width: 5px;
  line-height: 1.35;
  padding: 7px 16px;
}

.btn-default {
  background: transparent;
  border-color: #2a272e;
  color: #2a272e;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background: transparent;
  color: #fff;
  border-color: $co;
  background: #0ABAEE;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: #0ABAEE;
  border-color: #0ABAEE;
  background: #F5F5F5;
}

.btn-primary {
  background-color: transparent;
  border-color: #0ABAEE;
  color: #0ABAEE;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: transparent;
  border-color: #2a272e;
  color: #2a272e;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  background: transparent;
  border-color: #2a272e;
  color: #2a272e;
}


.btn-warning {
  background-color: #FFFFFF;
  border-color: #0ABAEE;
  color: #0ABAEE;
}

.btn-warning:hover, .btn-warning.active, .btn-warning:focus {
  background-color: #0ABAEE;
  border-color: #fff;
  color: #fff;
}

.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background-color: #0ABAEE;
  border-color: #fff;
  color: #fff;
}

.btn.disabled, .btn[disabled] {
  background: #6F6F6E !important;
  border-color: #6F6F6E !important;
}

.btn.with-icon {
  margin: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: 39px;
}

.btn-icon {
  background-color: #0ABAEE;
  border-color: #0ABAEE;
  border: 0px;
  color: #fff;
}
