
html, body, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
a, a:hover, a:focus, a:active, a:visited {text-decoration: none;}
.img-thumbnail,.btn,.panel,.form-control,select.form-control,select,.alert,.modal-content,.well {
  border-radius: 0px;
}